<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.burak.loginupdatesignup">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Welcome Mjilk Recipe">
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UpdateAccActivity"
            android:label="Update Account" />
        <activity
            android:name=".HomeActivity"
            android:label="Recipes" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".SignupActivity"
            android:label="Create Account" />
        <activity
            android:name=".DetailActivity"
            android:label="Showing Recipe" />
        <activity
            android:name=".DeleteRecipeActivity"
            android:label="Delete Recipe" />
        <activity
            android:name=".CreateRecipeActivity"
            android:label="CreateRecipe" />
        <activity
            android:name=".EditRecipeActivity"
            android:label="Edit Recipe" />
        <activity
            android:name=".UpdateRecipeActivity"
            android:label="Update Recipe" />
    </application>

</manifest>