<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.burak.androidproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mjilk Recipe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.burak.androidproject.MainActivity"
            android:label="Welcome Mjilk Recipe">
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="net.burak.androidproject.UpdateAccActivity"
            android:label="Update Account" />
        <activity
            android:name="net.burak.androidproject.HomeActivity"
            android:label="Recipes" />
        <activity
            android:name="net.burak.androidproject.LoginActivity"
            android:label="Login" />
        <activity
            android:name="net.burak.androidproject.SignupActivity"
            android:label="Create Account" />
        <activity
            android:name="net.burak.androidproject.DetailActivity"
            android:label="Showing Recipe" />
        <activity
            android:name="net.burak.androidproject.DeleteRecipeActivity"
            android:label="Delete Recipe" />
        <activity
            android:name="net.burak.androidproject.CreateRecipeActivity"
            android:label="CreateRecipe" />
        <activity
            android:name="net.burak.androidproject.EditRecipeActivity"
            android:label="Edit Recipe" />
        <activity
            android:name="net.burak.androidproject.UpdateRecipeActivity"
            android:label="Update Recipe" />
        <activity
            android:name="net.burak.androidproject.MainDetailActivity"
            android:label="Showing In Detail" />
        <activity
            android:name="net.burak.androidproject.SearchActivity"
            android:label="Search" />
        <activity
            android:name="net.burak.androidproject.UsersRecipeAndComments"
            android:label="User Created" />
        <activity
            android:name="net.burak.androidproject.GetuserInformationActivity"
            android:label="User Information" />
        <activity
            android:name="net.burak.androidproject.DeleteUserActivity"
            android:label="Delete User" />
        <activity
            android:name="net.burak.androidproject.CommentActivity"
            android:label="Comments" />
    </application>

</manifest>